*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #d6d6d6;
}
.container {
    margin: 3%;
    margin-left: 30%;
    padding:3%;
    width: 30%;
    background-color:white;
    line-height: 40px;
    border-radius: 2px;
}
label, a {
    display: block;
}
#enter-current-pw, #enter-correct-pw, #invalidPw{
    color: red;
}
.box {
    width: 280px;
    height: 30px;
    border: 1px solid;
    border-radius: 3px;
    padding: 6px;
}
#address {
    margin-bottom: 10px;
}
#Change-password-link{
    width: 295px;
    margin-top: 10px;
    background-color: rgb(148, 49, 236);  
    border-radius: 5px;
    border: none;
}
.hidden {
    display: none;
}
